name: Deploy Sphinx Documentation
on:
  push:
    branches: [main]
jobs:
  pages:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: sphinx-notes/pages@v3 # Rebuilds and deploys automatically